*{
  margin-left: 0px;
  margin-right: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logo-accueil{
  height: 100%;
  transform: translateY(-17%);
}
.logo-accueil-wrappeur{
  width: 100%;
  height: 25vh;
 
  
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: white;
  padding-bottom: 20px;
}
.sign-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*
.navApp{
  border: 1px solid black;
  position: sticky;
top: 0;
}
*/



.navv{
  height: auto;
  width: 100%;
  border: 1px hidden black;
  background: white;
  
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#portal{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}