.App {
  text-align: center;
  display: flex;
justify-content: flex-end;
}
.side-bar{
  height: 100vh;
  width: 20%;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;

}
.side-elements{
display: flex;
flex-direction: column;
height: 80%;
width: 100%;
margin-left: 15px;

}
.side-elem{
height: 6%;
width: 100%;
font-family: 'Times New Roman', Times, serif;
font-style: italic;
font-size: 0.9em;
text-align: left;

display: flex;
justify-content: space-between;

}
.side-elem a{
  color: black;
  text-decoration: none;
  width: 100%;
  
  cursor: pointer;
  padding-left: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.side-elem a:hover{
  color:#12705e;
}
.icon-side{
  color:#12705e;
}
.logo-admin-size{
  width: 50px;
  height: 50px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.admin-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.admin-name{
  font-size: 24px;
  color: #12705e;
  margin-bottom: 50px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
