.size-chocolat{
    width: 700px;
    height: 400px;
}
.text-choco-wrap{
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.text-chocolat{
    width: 80%;
    text-align: left;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-weight: 300;
    font-size: 1.3em;
}
.text-chocolat h1{
    color: #12705e;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-weight: 300;
}
.text-chocolat span{
    
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-weight: 600;
    font-size: 1.1em;
}

.choco-btn{
    background-color: #c19a5d;
    width: 200px;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}
.choco-btn a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
}
.choco-btn-wrapper{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.choco-btn:hover{
    background-color: #146f5b;  
}