*{
    margin: 0%;
    padding: 0%;
}

.product-backg-container{
    overflow: hidden;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-logo
{
cursor: pointer;
height: 250px;
width: 400px;

}
.product{
    width: 100%;    
}
.product form{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    justify-content: space-between;
}


 input{
    width: 30%;
}
.couter{
    width: 50%;
   display: flex;
   flex-direction: column;
}
.nav-shop{
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.shoping-cart-icon{
  
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icon-Close-cart{
    position: fixed;
    top: 8px;
    z-index: 21;
    font-size: 25px;
    cursor: pointer;
    color:white;
}
.tite-panier{
    width: 20px;
    position: fixed;
    border: 1px solid red;
    top: 50px;
    color: white;
    background-color: red;
    border-radius: 20px 20px 20px 20px;
    z-index: 22;
   } 
.items{
   
    border-radius: 25%;
    font-size: bolder;
    font-size: 100%;
    width: 5%;
    height: 15%;
   position: relative;
   top: -10%;
   right: 2%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: -1;
   
}
.icon-shoping, .FaBars{
    font-size: 35px;
    cursor: pointer;
    
}
.icon-shoping:hover{
    color:#12705e;

}
.icon-shoping{
    position: fixed;
    top: 33px;
    z-index: 21;
    color: #c19a5d;
}
.burger-menu{
  
    color: #12705e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bm-burger-button {
    margin-top: 80%;
    margin-left: 50%;
    
}
.FaBars{
    font-size: 300%;
    cursor: pointer;
}
.sevice-name{
    background-color: white;
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 3vw;
    
}
.sevice-name h3{
    color:#12705e ;
    font-family: 'Style Script', cursive;
    border-top: 1px solid grey;
}

.name-buger{
    height: 100%;
    border:1px  solid grey;
    width: 50%;
}
.shop-items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    /*justify-content: center;*/
 
    background-color: white;
}


.image-wrapper{
   width: fit-content;
   height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}


.side-shop{
  
    right: 0px;
    top: 0px;
   
   height: fit-content;
    background-color: white;
    width: 40%;
   height: 100vh;
   
  /* transform: translateX(-100%);*/
   
}
.modal-side-shop{
    /*position: fixed;*/
    z-index: 25;
     background-color: rgba(0, 0, 0, 0.25);
     width: 100%;
     height: fit-content;
     position: fixed;
     top: 0px;
     display: flex;
     justify-content: flex-end;
    
}
.modal_content-signin{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.close3{
  /*
    margin-top: 8%;
    margin-left: 30%;
    padding-right: 2%;
    */
    cursor: pointer;
    color: #c19a5d;
    font-weight: 900;
    font-size: 1.3em;
    width: 35%;
    display: flex;
    justify-content: flex-end;
    background-color:#146f5b;
    background-size: 80%;
    background-repeat: repeat;
    position: absolute;
    top:5px;
    
}
/*
.shop-items div:nth-of-type(6n+1), .shop-items div:nth-of-type(6n+2), .shop-items div:nth-of-type(6n+3){
    background-color: rgb(196,222,164);
    color: red;
  }
  */
@media screen and (max-width:1000px) {
   .icon-shoping{
    position: fixed;
       top: 50px;
   } 
}
@media screen and (max-width: 1200px){
    .nav-shop{
        display: none;
    }
    .shop-items{
       
    }
    .side-shop{
        width: 60%;
    }
}

 @media screen and (max-width: 600px){
     .side-shop{
         width: 100%;
     }
 }
  @media screen and (max-width:950px) {
    .icon-shoping{
        position: fixed;
           top: 120px;
       } 
       .icon-shoping:hover{
           color: #c19b5de5;
       }
       .tite-panier{
        position: fixed;
        top: 130px;  
       }   
  }
 