*{
    margin: 0%;
    padding: 0%;
}

.product-backg-container{
    overflow: hidden;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-logo
{
cursor: pointer;
border-radius: 50%;
}
.product-logo:hover {
    
    border: 2.5px solid #12705e;
}

.product{
    width: 100%;    
}

.product form{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    justify-content: space-between;
    
  }
  

 input{
    width: 30%;
}
.couter{
    width: 50%;
   display: flex;
   flex-direction: column;
}
.nav-shop{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
   
}
.shoping-cart-icon{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    

}
.items{
   
border-radius: 25%;

    font-size: bolder;
    font-size: 100%;
    width: 5%;
    height: 15%;
   position: relative;
   top: -10%;
   right: 2%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: -1;
   
}
.icon-shoping, .FaBars{
    font-size: 150%;
    cursor: pointer;
}
.icon-shoping:hover{
    color:#12705e;

}
.burger-menu{
  
    color: #12705e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bm-burger-button {
    margin-top: 80%;
    margin-left: 50%;
    
}
.FaBars{
    font-size: 300%;
    cursor: pointer;
}
.sevice-name{
    background-color: white;
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 3vw;
    
}
.sevice-name h3{
    color:#12705e ;
    font-family: 'Style Script', cursive;
    border-top: 1px solid grey;
}

.name-buger{
    height: 100%;
    border:1px  solid grey;
    width: 50%;
}
.shop-items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
    background-color: rgb(196,222,164);
}

.button-wrapper button a{
    text-decoration: none;
    color: black;
}
.image-wrapper{
  
    width: 55%;
    display: flex;
    justify-content: flex-end;
}

/*
.shop-items div:nth-of-type(6n+1), .shop-items div:nth-of-type(6n+2), .shop-items div:nth-of-type(6n+3){
    background-color: rgb(196,222,164);
    color: red;
  }
  */


  
 
  
 