.prodbyID{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prod-name{
    width: 100%;
    height: 10vh;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-style: italic;
    justify-content: center;
    align-items: center;
}

.product-bloc{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.command-bloc{
    width: 70%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c19a5d ;
}
.product-backg-container{
    overflow: hidden;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-product{
    height: 100%;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    
}

 .form{
        width: 60%;
       
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .command-bloc form label input{
        height: 10vh;
    }
    .command-bloc form label{
        
        width: 70%;
        display: flex;
        justify-content: space-between;
    
    }
    .btn-produit{
        font-size: 200%;
        width: 20%;
        background-color: #c19a5d;
        border: none;
        
        color: white;
        cursor: pointer;
        display: flex;
    justify-content: center;
    align-items: center;
    }
    .btn-produit:hover{
background-color: #c19a5d;
border: none;
    }
    
    .contentOwl{
        border: 1px hidden black;
        height: 380px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow : hidden;
        background-color: #146f5b;
     }
    
     .containerOwlSlide{
        border: 1px hidden black;
        width: 900px;
        height: 380px;
       margin-top: 10px;
        overflow-x : hidden;
        background-color: #146f5b;
        position: relative;
      }
    
     .owlSlideItem{
        border: 1px hidden red;
        height: 100%;
        width: 3000px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
     }
    
     .owlSlideItem .products {
        border: 1px hidden #c19a5d;
        height: 100%;
        width: 310px;
        display: flex;
        flex-direction: column;
     
     }
    
     .owlSlideItem .products:hover {
     background: rgba(99, 226, 199, 0.5);
     }
    
     .imgProduct{
        border : 1px hidden white;
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
     }
    
     .imgContainer{
        border : 1px hidden white;
        width: 300px;
        height: 300px;
        overflow: hidden;
       
     }
    
     .productName{
        border: 1px hidden white;
        height: 50px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        
     
     }
    
     .productName div{
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        color: #c19a5d;
        overflow: hidden;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
     }
    .priceButton{
        border : 1px hidden pink;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .priceButton div{
        border : 1px hidden black;
        height: 50px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
       overflow: hidden;
       background-color: #c19a5d;
       font-family: 'Poppins', sans-serif;
       font-size: 1.2em;
       color: white;   
        font-weight: 900;
    }
     
    
     .buttonsControl{
        border: 1px hidden red;
        height: 50px;
        width: 100%;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
       overflow: hidden;
    }
    
    .buttonsControl button {
        border: 1px solid #c19a5d;
        height: 40px;
        width: 40px;
        background: transparent;
        border-radius: 50px;
        margin: 5px;
        display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .minusButton{
        pointer-events: none;
        opacity: 0.4;
    }
    
     @media screen and (max-width : 1394px) {
    
        .container {
            width: 100%;
        }
    /*
        .glaceContainer {
            flex-direction: column;
        }
    
    
     .glaceContainer .img {
        width: 100%;
    
     }
     */
    
     .text {
        width: 90%;
        height: auto;
     }
    
     .text div {
        height: auto;
        width: 100%; 
     }
     }
    .quantite{
       width: 50%;
       
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
  
     @media screen and (max-width : 873px) {
    
     .containerOwlSlide{
        border: 1px hidden black;
        width: 600px;
      }
    
     }
    
    @media screen and (max-width : 600px) {
    
        .containerOwlSlide{
            border: 1px hidden black;
            width: 300px;
          }
        
        }