.Edite{
    height: auto;
    width: 40%;
    border: 1px solid lightgray;
    position: absolute;
    top: 10%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    
    
}
.Edit-fields{
    height: 60%;
    width: 100%;
    border: 1px hidden lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding: 40px 40px 40px 40px;
}
.Edit-fields input{
    height: 50px;
    border: none;
    border: 1px solid lightgray;
    width: 80%;
    margin-bottom: 10px;
}
.Edit-fields select{
    width: 80%; 
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.icon-save{
    color: blue;
    font-size: 1.3em;
    margin-right: 10px;
    cursor:initial;
}
.save-btn{
    font-size: 1.3em;
    font-weight: 600;
    color: white;
     cursor: pointer;
     border: 1px hidden red;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 20px;
     margin-bottom: 20px;
     background-color: #c19a5d;
     width: 30%;
     height: 50px;
}
.save-btn:hover{
    color: #12705e;
}

.close{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    font-weight: 900;
    cursor: pointer;
    color: #c19a5d;

}
.Edit-fields .input-img{
    
    border: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
