*{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
}


.open{
    width: 80%;
    height: auto;
 
    margin-top: 5%;
    margin-left: 10px;
  
}
.tableau{
    border: 1px hidden blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom:20px;
   
}
.tab-item{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-edit-u{
color: blue;
}

.tab-item a{
    text-decoration: none;

margin-left: 10px;
}
