/*.Command{
    width: 100%;
    height: 600px;
     display: flex;
     justify-content: space-between;
    flex-wrap: wrap;
    padding: 0% 5% 0% 5%;
    border: 1px hidden black;
   margin-top: 60px;
}

.containerCommand{
    border: 1px hidden red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
.bloc-command{
width: 400px;
height: 600px;
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 1px hidden green;
}
.bloc-command::before{
    content: "";
    opacity: 0.5;
    background-color: lightgrey;
    position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
}
.cmd-size{
    width: 100%;
    height: 100%;
}
.command-name{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
   border: 1px hidden green;
    align-items: center;
    z-index: 1;
    opacity: 100;
    font-family: 'Poppins', sans-serif;
}


 .comBox1{
    background-image: url('../../images/bg-1.jpg');
 }

 .comBox2{
    background-image: url('../../images/bg-2.jpg');
 }

 .comBox3{
    background-image: url('../../images/bg-3.jpg');
 }
 
 .command-name h1{
   width: 100%; 
   font-size: 2.5em;
   text-align: center;
   overflow: hidden;
   font-family: 'Poppins', sans-serif;
   font-weight: 900;
}
.command-name h3{
    font-size: 1.8em;
    font-weight: 700;
    overflow: hidden;
}
.command-btn{
    background-color: #c19a5d;
    width: 200px;
    z-index: 1;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.command-btn a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}
.command-btn:hover{
    background-color: #146f5b;  
}
*/
@font-face {
    font-family:GaramondPremrPro-It;
    src: url('./GaramondPremrPro-It.otf');
  }
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color:#146f5b ;
}
.container{

margin-top: 0px;


}
.description p{
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-size: 1.3em;*/
    font-size: 2vw;
    font-weight: 300;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    text-align: left;
    text-align: justify;
    margin-top: 60px;
    margin-bottom: 10%;

}
.img{
   
    height: 100%;
}
.img-ac-size{
    width: 100%;
    height: 100%;
}
.text-glace{
    width: 50%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.text-glace h1,h2{
    text-align: left;
    width: 100%;
}
.text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.glaceContainer{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    height: 500px;
   
}
.Home{
    margin-top: 0px;
    width:100%;
   
}
.slide{
    width:100%;
    
}
.carousselItem{
    width: 100%;
    
}
.container-m{
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
    
    width: 100%;
}
.modal_content_cmd{
    background-color:  white;
    margin-top: 11%;
    margin-left: 30%;
    height: 55%;
    width: 45%;
   z-index: 21;
    display: flex;
      flex-direction: column;
     justify-content:space-around;
      align-items: center;
      border-radius: 20px;
     } 
.choice-box{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    
}
.emporte{
    
    width: 45%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #146f5b;
    color: white;
    cursor: pointer;
    font-weight: 900;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    height: 50px;
    margin-bottom: 15px;
}
.livraison-btn{
    border: 1px solid #c19a5d;
    width: 45%;  
    font-size: 1.5em; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    font-weight: 900;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    height: 50px;
    margin-bottom: 15px;
}
.mrgn{
    margin-bottom: 10px;
}
.box-cmd-text{
    height: 10%;
 /* margin-top: 10px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-box-valid{
    
    width: 25%;
    height: 30px;
    background-color: #c19a5d;
    font-weight: 900;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}
.select-style{
    border: 1px solid #c19a5d;
    width: 90%;
    margin-top: -15px;
}
.font-s{
    font-weight: 900;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-size: 1.3em; 
    
}
.qst{
    width: 90%;
  font-weight: 600;
    text-align: left;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-size: 1.2em; 
    
}
.icon-box{
    margin-right: 10px;
    
}
@media screen and (max-width : 1337px) {
    /*
    .Command{
        height: auto;
    }
    */

    .containerCommand{
        flex-direction: column;
    }


    .bloc-command{
        width: 550px;
        margin : 10px;
    }
}

@media screen and (max-width : 616px) {
    .bloc-command{
        width: 300px;
        margin : 10px;
    }
}