.signin{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.signin-box{
    width: 70%;
    height: 70%;
    border: 1px solid goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
}
.signin-title{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 300%;
    font-family: 'Oswald';
}
.form-signin{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    justify-content:space-between;
    align-items: center;
    font-family: 'Oswald';
    padding-top: 5%;
}
.form-signin label,input,button{
    font-size: 100%;
    height: 20%;

}
.btn-signin-wrapper {
margin-top: 5%;
width: 60%;
height: 100px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

}
.btn-signin-wrapper button{
    background-color: goldenrod;
    width: 50%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: black;
}
