.signin{
    width: 40%;
   height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background-color: white;
  

}
.signin-box{
    width: 50%;
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
  align-items: center;
    
}
.back-signin{
background-image: url('../../images/bg-1.jpg');
overflow: hidden;
background-repeat: no-repeat;
background-size: 100%;

}
.signin-box-wrap{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #c19a5d;
    border-left:  1px solid #c19a5d;
    border-right:  1px solid #c19a5d;
    display: flex;
    justify-content: center;
    align-items: center;

}
.signin-title{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #146f5b ;
    font-size: 1.9em;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-weight: 600;
   
  
}
.form-signin{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    height: 90%;
    justify-content:space-between;
    align-items: center;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-weight: 300; 
}
.form-signin label,input,button{
    font-size: 100%;
    height: 20%;
    width: 100%;

}
.btn-signin-wrapper {
margin-top: 5%;
width: 60%;
height: 50%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;


}
.btn-signin-wrapper button{
    background-color: #c19a5d;
    width: 100%;
    height: fit-content;
  
    border: none;
    cursor: pointer;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    color: white;
}
.wrap-signup{
    width: 100%;
    height: 100%;
}
.inscrire{
    cursor: pointer;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    color:#146f5b ;  
}