


.principal-desc{
    width: 100%;
    margin-top: 100px;
    padding: 0px 50px 0px 50px;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif;
    font-size:1.3em;
    font-weight: 600;
    text-align: left;
}
.sorbets-ceontent{
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 0px 10px 0px 10px;
}
.text-sorbets{
 
    display: flex;
   align-items: center;
   font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    text-align: left;
}
.Pagename{
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    font-family: 'Heebo', sans-serif;
    color: #12705e;
    margin-bottom: 2%;
}