


.glaces{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;



} 
.principal-desc{
    width: 80%;
    margin-top: 100px;
   /* padding: 0px 50px 0px 50px;*/
    margin-bottom: 100px;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-size:2.5em;
    font-weight: 300;
    text-align: left;
  
    
}
.sorbets-ceontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    padding: 0px 10px 0px 10px;
    width: 80%;
}
.text-sorbets{
 
    display: flex;
   align-items: center;
   font-family:'times-new-roman-italic' ;
   font-style: italic;
    font-size: 2.5em;
    font-weight: 300;
    text-align: justify;
}
.Pagename{
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    color: #12705e;
    margin-bottom: 2%;
}

.text-sorbet-wrapper{

    display: flex;
    align-items: center;
    justify-content: flex-start;
   
    width: 45%;
}
.img-sorbet-size{
    width: 45%;
    height: 425px;
}
@media screen and (max-width :1000px){

.sorbets-ceontent{
    flex-direction: column;
}
.text-sorbets{
    font-size: 1.3em;
}
.text-sorbet-wrapper{
    width: 100%;
}
.img-sorbet-size{
    width: 100%;
    height: 100%;
}
.principal-desc{
    font-size: 1.3em;
}
}