
.signup{
    width: 100%;
    height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.form-signup{
    width: 100%;
   /* height: 100vh;*/
    display: flex;
    flex-direction: column;
}
.form-signup label{
width: 25%;
display: flex;
justify-content: center;
}
.signup-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 2% 0px 2%;
}
.form-signup label,input,button{
    font-size: 100%;
    height: 30%;
}
.form-signup button{
    font-size: 100%;
    height: fit-content;
}
.signup-btn{
    background-color: #c19a5d;
    width: 200px;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}
.signup-btn a{
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}
.signup-btn-wrapper{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}



