

.filter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:80px;
    background-color: white;
    z-index: 9;
}
.filter-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.filter-item{
    font-family: 'Heebo', sans-serif;
    color: #12705e;
    font-size: 1.3em ;
    font-weight: 600;
    cursor: pointer;
}
.filter-item a:hover{
    color : #c19a5d;
   border-bottom: 2px solid #12705e;
  
}
.filter-item a{
text-decoration: none;
color: #12705e;
}
.shop-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.line{
    width: 45%;
    height: 2px;
    background-color:#12705e ;
}
#shop a{
    font-family: 'Poppins', sans-serif;
    color:#12705e ;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;
    
}
#shop a:hover{
    color : #c19a5d;  
}
.filter-items-small{
    display: none;
}
.burgerMenu-filer{
    
    display: none;
  
}
@media screen and (max-width : 950px){
.filter-items{
    display: none;
}
.filter-items-small{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}
.burgerMenu-filer{
    width: 100%;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #c19a5d;
    background-color:#146f5b;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 20;
}

}
