@font-face {
    font-family:GaramondPremrPro-It;
    src: url('./GaramondPremrPro-It.otf');
  }

.histoire{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.histoire-wrapper{
    width: 80%;
}
.text-histoire{
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-size: 1.3em;
    font-weight: 300;
    text-align: left;
    height: 425px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align:justify;
    
}
.text-histoire-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
    width: 40%;
}
.text-histoire-wrapper span{
color:#12705e;
font-family:'times-new-roman-italic' ;
    font-style: italic;
}
.histoirs-ceontent{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    padding: 0px 10px 0px 10px;
    
}
.histo-img-size{
    width: 50%;
    height: 50%;
}
.displayNone{
    display: none;
}

@media screen and (max-width :1000px){
  .text-histoire-wrapper{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    text-align: center;
  } 
  .histo-img-size{
      width: 70%;
      height: 70%;
  } 
  .histoirs-ceontent{
      display: flex;
      flex-direction: column;
      
      align-items: center;
     
  }
  .displayNone{
      display: flex;
  }
  .displayFlex{
      display: none;
  }

}
