.FooterContact{
    border: 1px hidden black;
    height: auto;
    width: 100%;
    margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
 }


.footerContainer{
    border: 1px hidden black;
    width: 90%;
    height: 580px;
    display: flex;
    flex-direction: column;
    
}

.logoFooter{
    border: 1px hidden black;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.logoBox{
    border: 1px hidden black;
    height: 165px;
    width: 165px;
    overflow: hidden;
}

.logoBox img{
    object-fit: cover;
    height: 165px;
    width: 165px;
}

.infoContent{
    border: 1px hidden pink;
    height: 410px;
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: space-between;
   overflow: hidden;
}

.infoContent .box{
    border: 1px hidden gray;
  
    height: 380px;
    width: 450px;
    border-top: 2px solid #b4b4b4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxContent{
    
    height: 300px;
    width: 400px;
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.boxContent a{
color: black;
text-decoration: none;
}

.boxContent p{
    font-size: 1.2em;
    color: #b4b4b4;;
    font-family: 'Poppins', sans-serif;
}

.boxContent h5{
    font-weight: 700;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.opening {
    margin-top :0px;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
   
  
    text-align: left;
}
.opening h5{
    font-size: 1.25em; 
}


 .address{
    font-size: 1.1em;

  text-align:left ;
 
 }

 .menuFooter{
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
 }
 .menuFooter a:hover{
     color: #c19a5d;
     border-bottom: 1px solid #c19a5d;
 }
 .newsletter{
    border : 1px hidden black;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }

 .newsletter h5{
    text-align: left;
    font-size: 1.8em;
 }

 .newsletter input{
   outline: none;
   border: none;
   border-bottom: 1px solid rgba(180,180,180,.6);
   margin-top: 10px;
   width: 50%;
   height: 40px;
 }

 
 .newsletter button{
    border: 1px solid #146f5b;
    background-color: #146f5b;
    width: 90px;
    height: 40px;
    margin-top: 20px;
    color : white  ;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .socialMedia{
     border: 1px hidden black;
     height: 80px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     flex-direction: row;
 }
 .socialMedia i{
     font-size: 2em;
     margin: 5px;
 }


 .socialMedia i:hover{
  color: #146f5b;
 }
 .icons-footer{
     
     width: 20%;
     display: flex;
     height: 30%;
     justify-content: space-between;
     align-items: center;
 }
 .map-size{
     width: 400px;
     height: 150px;
 }
 
 @media screen and (max-width : 1036px) {
    .footerContact,  .footerContainer{
        height: auto;
     width: 100%;

          }
          .infoContent {
            flex-direction: column;
            height: auto;
            align-items: center;
            width:100%;
        }
.infoContent .box{
   
    
}
.boxContent{
    padding-left: 51px;
}
 }