*{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}
.Nav {
   
    height: 80px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: sticky;
    top:0px;
    background-color: white;
    color:#12705e;
  z-index: 11;
}
.logo  img {
    width: 250px;
}
.side-logo{
   
    height:200px;
   width: 250px;
}
.menu {
    border: 1px hidden red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y : hidden;
}

 .menu div {
    margin: 8px;
}

.compressedLogo {
  position: absolute;

  left: 10px;

  width: 90px;
  overflow: hidden;
}
.menuLarge {
    width: 80%;
   /* height: 50px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y : hidden;
    font-size: 1.8em ;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    position: relative;
    

}
.menuLarge a{
    color: #12705e;
}
.menuLarge a:hover{
    color : #c19a5d;
   border-bottom: 2px solid #12705e;
  
}
.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
  }

.burgerMenu {
    
    display: none;
}

.burgerMenu button {
    background-color: transparent;
    border: none;
}
.fa-ice-cream{
    font-size: 2.2em;
}

.menuSmallScreen{
    display: none;
}
 a{
    text-decoration: none;
    color:#12705e ;
}

@media screen and (max-width : 950px) {
    .menuLarge {
        display: none;
    }
  .menuSmallScreen, .fadeclass {
        border: 1px hidden red;
        height: 60vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #146f5b;
        color: #c19a5d;
        font-weight: 700;
        z-index: 2;
        
   }


   .menuSmallScreen a{
    font-size: 1em;
    /*line-height: 70px;*/
    color: white;
    text-decoration: none;
   }

   .menuSmallScreen  div{
    font-family: 'Poppins', sans-serif;
    width: 300px;
    text-align: center;
    overflow: hidden;

   }

     .closeButton{
        position: absolute;
        right: 20px;
        top : 5px; 
        background-color: transparent;
        border: none;
 }


 .menu .burgerMenu{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    color: #c19a5d;
    background-color:#146f5b;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 20;
 }


 .burgerMenu button {
  display: auto;
  margin-left: 10px;
}


.fa-ice-cream {
   color :  #c19a5d;
}
 }