@font-face {
    font-family:GaramondPremrPro-It;
    src: url('./GaramondPremrPro-It.otf');
  }
*{
    font-family: GaramondPremrPro-It;
}

.Command{
    width: 100%;
    /*height: 600px;*/
    height:fit-content;
     display: flex;
     justify-content: space-between;
    flex-wrap: wrap;
    padding: 0% 5% 0% 5%;
    border: 1px hidden black;
   margin-top: -100px;
}

.containerCommand{
    border: 1px hidden red;
    width: 100%;
    /*height: 100%;*/
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.bloc-command{
/*width: 350px;*/
width: 30%;
height: 600px;
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.back-color1{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0px;
    background-color: #c19a5d;
    opacity: 0.2;
}
.back-color2{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0px;
    background-color: #c19a5d;
    opacity: 0.2;
}
.back-color3{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0px;
    background-color: #146f5b;
    opacity: 0.2;  
}
.bloc-command::before{
    content: "";
    opacity: 0.5;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
}
.cmd-size{
    width: 100%;
    height: 100%;
}
.command-name{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    z-index: 1;
    opacity: 100;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-size: 1.2em;
}
.command-name h2{

    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    
}
.command-discreption{
    color: black;
    height: 30%;
    width: 100%;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    padding-left: 3%;
   margin-top: 40px;
}


 .comBox1::before{
    background-image: url('../../images/bg1.jpg');
    
  background-color: red;
  opacity: 0.30;
 background-repeat: no-repeat;
 background-size:cover;

 }
 .comBox1::after{
    background-image: url('../../images/bg1.jpg');
    background-size:cover;;
  background-color: black;
  opacity: 0.70;
  background-repeat: no-repeat;
  background-size: 100%;
  
 }
 .comBox2::before{
    background-image: url('../../images/pg2.jpg');
    background-color: green;
    opacity: 0.30;
    background-repeat: no-repeat;
    background-size:cover;
  
 }

 .comBox2::after{
    background-image: url('../../images/pg2.jpg');
    background-color: green;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size:cover;
 }

 .comBox3::before{
    background-image: url('../../images/pg3.jpg');
    background-color: blue;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size:cover;
 }
 .comBox3::after{
    background-image: url('../../images/pg3.jpg');
    background-color: blue;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-size:cover; 
 }
.command-name{
    height: 170px;
    border: 1px hidden red;
}

 .command-name h1{
   width: 100%; 
   font-size: 2.5em;
   text-align: center;
   overflow: hidden;
   font-family:'times-new-roman-italic' ;
    font-style: italic;
   font-weight: 900;
}
.command-name h3{
    font-size: 1.8em;
    font-weight: 700;
    overflow: hidden;
}
.command-btn{
    background-color: #c19a5d;
    width: 200px;
    z-index: 1;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
}
.command-btn a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-size: 1.2em;
    text-decoration: none;
}
.command-btn:hover{
    background-color: #146f5b;  
}

@media screen and (max-width : 800px) {
    .Command{
        height: auto;
    }

    .containerCommand{
        flex-direction: column;
    }


    .bloc-command{
        width: 550px;
        margin : 10px;
    }
}

@media screen and (max-width : 616px) {
    .bloc-command{
        width: 300px;
        margin : 10px;
    }
}
@media screen and (max-width:   1070px) {
    .Command{
        margin-top: 0px;
        
    }
}