.achat-list-icon{
    color: #12705e;
    font-size: 1.3em;
    cursor: pointer;
}
.achat-list{
    border: 1px solid #c19a5d;
    width: 500px;
    height: 600px;
    position: fixed;
    top: 10px;
    left:35%;
     background-color: white;

}
.achat-fields-header{
   
    width: 80%;
    display: flex;
  margin-left: 10px;
    justify-content: center;
    align-items: center;

}   
.achat-fields{
    width: 80%;
    display: flex;
  margin-left: 10px;
    justify-content: center;
    align-items: center;

}
.achat-elem-header{
  border-bottom: 1px solid #12705e;
    width: 100%;
    height:30px;
    display: flex;
    justify-content: left;
   
}
.mrg-btm{
    margin-bottom: 30px;
}
.achat-elem{
    border-bottom: 1px solid lightgrey;
    width: 100%;
   
   /* margin-top: 20px;
    margin-bottom: 20px;*/
    max-height: max-content;
    display: flex;
    justify-content: left;
}
.gout-style{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.achat-ajuster{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height:150px;
}
.gout-ajuster{
    border: 1px hidden blue;
    width: 100%;
}