.date-style{
    width: 90%;
    border: 1px solid #c19a5d;
    color: #c19a5d;
}
.wrap-date-picker{
    width: 50%;
    display: flex;
    justify-content: center;
  
    
}

.date-picker{
  
    width: 100%;
    border: 2px solid #12705e;
    color: #12705e;
    border-radius: 20px 20px 20px 20px;
    z-index: 2;
 
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    
 }
 

 .date-picker-inter:hover{
  color: white;   
 }
 .date-picker-inter{
     width: 100%;
     height: 100%;
     cursor: pointer;
     border: none;
     background-color: transparent;
 }
 .picker-wrapper{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.modal_content_cmd{
    background-color:  white;
    margin-top: 11%;
    margin-left: 30%;
    height: 55%;
    width: 45%;
   z-index: 21;
    display: flex;
      flex-direction: column;
     justify-content:space-around;
      align-items: center;
      border-radius: 20px;
     } 
     .modal_content_cmd p{
         font-weight: 500;
     }
.choice-box{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    
}
.emporte{
    
    width: 45%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #146f5b;
    color: white;
    cursor: pointer;
    font-weight: 900;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    height: 50px;
    margin-bottom: 15px;
}
.livraison-btn{
    border: 1px solid #c19a5d;
    width: 45%;  
    font-size: 1.5em; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    font-weight: 900;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    height: 50px;
    margin-bottom: 15px;
}
.mrgn{
    margin-bottom: 10px;
}
.box-cmd-text{
    height: 10%;
 /* margin-top: 10px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-box-valid{
    
    width: 25%;
    height: 30px;
    background-color: #c19a5d;
    font-weight: 900;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}
.select-style{
    border: 1px solid #c19a5d;
    width: 90%;
    margin-top: -15px;
}
.font-s{
    font-weight: 900;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-size: 1.3em; 
    
}
.qst{
    width: 90%;
  font-weight: 600;
    text-align: left;
    font-family:'times-new-roman-italic' ;
    font-style: italic;
    font-size: 1.2em; 
    
}
.icon-box{
    margin-right: 10px;
    
}
